In [71]:
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", None)

In [72]:
data = pd.read_csv("AI_impact_survey_data1.csv")

In [73]:
data

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Q1,Q1_17_TEXT,Q2,Q2_6_TEXT,Q3,Q4,Q5_1,Q5_2,Q5_3,Q5_4,Q7,Q7_10_TEXT,Q8_1,Q19_1,Q11_1,Q12,Q12.1
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,Recipient First Name,Recipient Email,External Data Reference,Location Latitude,Location Longitude,Distribution Channel,User Language,Please select your major. - Selected Choice,Please select your major. - Other - Text,Please select your class standing. - Selected ...,Please select your class standing. - Other - Text,Do you use AI?,What AI services do you interact with in your ...,How many prompts a week do you type on these A...,How many prompts a week do you type on these A...,How many prompts a week do you type on these A...,How many prompts a week do you type on these A...,In what ways do you use the above selected mod...,In what ways do you use the above selected mod...,How many times more energy do you think is req...,How much water (in mL) do you think is require...,How much do you think AI contributes to carbon...,How much do you think is a reasonable cost of ...,How much time do you think it takes to build a...
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}","{""ImportId"":""recipientFirstName""}","{""ImportId"":""recipientEmail""}","{""ImportId"":""externalDataReference""}","{""ImportId"":""locationLatitude""}","{""ImportId"":""locationLongitude""}","{""ImportId"":""distributionChannel""}","{""ImportId"":""userLanguage""}","{""ImportId"":""QID10""}","{""ImportId"":""QID10_17_TEXT""}","{""ImportId"":""QID9""}","{""ImportId"":""QID9_6_TEXT""}","{""ImportId"":""QID6""}","{""ImportId"":""QID1""}","{""ImportId"":""QID4_x1""}","{""ImportId"":""QID4_x2""}","{""ImportId"":""QID4_x3""}","{""ImportId"":""QID4_x4""}","{""ImportId"":""QID7""}","{""ImportId"":""QID7_10_TEXT""}","{""ImportId"":""QID15_1""}","{""ImportId"":""QID16_1""}","{""ImportId"":""QID17_1""}","{""ImportId"":""QID18""}","{""ImportId"":""QID19""}"
2,2026-02-13 15:42:30,2026-02-13 15:44:23,IP Address,128.54.165.120,100,112,True,2026-02-13 15:44:23,R_1P512MrHHdpxDtv,NaN,NaN,NaN,NaN,34.0526,-118.2122,anonymous,EN,12,NaN,Senior,NaN,Yes,ChatGPT,7,NaN,NaN,NaN,"Studying (Learning, exam preparation, tutoring...",NaN,5,8,383,$1 Million - $10 Million,More than 24 months
3,2026-02-17 14:45:39,2026-02-17 14:46:50,IP Address,128.54.205.197,100,71,True,2026-02-17 14:46:51,R_3QK6GEXKLyZBNal,NaN,NaN,NaN,NaN,32.8509,-117.2722,anonymous,EN,Computer and information sciences,NaN,Senior,NaN,Yes,"ChatGPT,Google Gemini,Claude (Anthropic)",10,40,20,NaN,"Studying (Learning, exam preparation, tutoring...",NaN,10,5,490,$1 Million - $10 Million,6-12 months
4,2026-02-17 14:47:02,2026-02-17 14:47:17,IP Address,128.54.136.185,100,15,True,2026-02-17 14:47:18,R_6a7djmAWFYXC49j,NaN,NaN,NaN,NaN,33.7074,-117.7054,anonymous,EN,Biology/Chemistry/life sciences,NaN,Senior,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2026-02-25 13:48:18,2026-02-25 13:50:25,IP Address,172.59.144.66,100,126,True,2026-02-25 13:50:26,R_7FPmWzKOrZkHzo1,NaN,NaN,NaN,NaN,37.9593,-121.2619,qr,EN,Mathematics and Statistics,NaN,Junior,NaN,Yes,ChatGPT,NaN,NaN,NaN,NaN,"Studying (Learning, exam preparation, tutoring...",NaN,2,3,450,$1 Million - $10 Million,More than 24 months
82,2026-02-18 14:25:07,2026-02-18 14:25:57,IP Address,137.110.96.181,54,50,False,2026-02-25 14:26:11,R_3xKNRBrmVPnxopX,NaN,NaN,NaN,NaN,32.9167,-117.0903,anonymous,EN,Other,Environmental Systems,Sophmore,NaN,Yes,NaN,NaN,NaN,NaN,NaN,"Studying (Learning, exam preparation, tutoring...",NaN,NaN,NaN,NaN,NaN,NaN
83,2026-02-18 20:17:38,2026-02-18 20:18:51,IP Address,104.185.191.120,54,73,False,2026-02-25 20:19:00,R_1KDCZtM7sEMuhA5,NaN,NaN,NaN,NaN,32.7173,-117.157,anonymous,EN,Other,Visual arts,Junior,NaN,Yes,Google Gemini,NaN,4,NaN,NaN,Summarization / Paraphrasing (Condensing artic...,NaN,NaN,NaN,NaN,NaN,NaN
84,2026-02-19 13:33:05,2026-02-19 13:34:13,IP Address,216.77.46.36,54,67,False,2026-02-26 13:34:13,R_11Z3knBLNb1D5FP,NaN,NaN,NaN,NaN,32.7097,-117.1228,anonymous,EN,Education,NaN,Senior,NaN,Yes,ChatGPT,15,NaN,NaN,NaN,"Studying (Learning, exam preparation, tutoring...",NaN,NaN,NaN,NaN,NaN,NaN
85,2026-02-19 13:44:19,2026-02-19 13:49:45,IP Address,69.196.35.68,38,326,False,2026-02-26 13:49:47,R_5uCJ2AXYBjk9wkc,NaN,NaN,NaN,NaN,32.8595,-117.2124,anonymous,EN,Computer and information sciences,NaN,Junior,NaN,Yes,ChatGPT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
question_cols = ['Q1', 'Q1_17_TEXT', 'Q2','Q2_6_TEXT', 'Q3', 'Q4', 'Q5_1', 'Q5_2', 'Q5_3', 'Q5_4', 'Q7','Q7_10_TEXT', 'Q8_1', 'Q19_1', 'Q11_1', 'Q12', 'Q12.1']
questions = data[question_cols].iloc[0]
question_answer = data[question_cols].iloc[2:,:]

In [75]:
for q, question in questions.items():
    print(q,"  |  ", question)

Q1   |   Please select your major. - Selected Choice
Q1_17_TEXT   |   Please select your major. - Other - Text
Q2   |   Please select your class standing. - Selected Choice
Q2_6_TEXT   |   Please select your class standing. - Other - Text
Q3   |   Do you use AI?
Q4   |   What AI services do you interact with in your academics?
Q5_1   |   How many prompts a week do you type on these AI services?
(Enter a numeric value) - ChatGPT
Q5_2   |   How many prompts a week do you type on these AI services?
(Enter a numeric value) - Google Gemini
Q5_3   |   How many prompts a week do you type on these AI services?
(Enter a numeric value) - Claude (Anthropic)
Q5_4   |   How many prompts a week do you type on these AI services?
(Enter a numeric value) - None of the above
Q7   |   In what ways do you use the above selected models? You may select multiple answers. - Selected Choice
Q7_10_TEXT   |   In what ways do you use the above selected models? You may select multiple answers. - Others: You may elaborate here. - Text
Q8_1   |   How many times more energy do you think is required to generate AI text prompts compared to a Google search? - Times more energy
Q19_1   |   How much water (in mL) do you think is required for cooling 1 prompt? - Amount of water in mL
Q11_1   |   How much do you think AI contributes to carbon dioxide (CO₂) emissions? For example: Training an AI model. - Tons of CO₂
Q12   |   How much do you think is a reasonable cost of training an AI Language Model?
Q12.1   |   How much time do you think it takes to build an AI Language Model?

In [84]:
question_answer = question_answer.rename({"Q1":"Major"},axis=1)
question_answer["Major"].value_counts()

Major
Other                                   14
Biology/Chemistry/life sciences         13
Cognitive Science                        9
Data Science                             6
Psychology                               6
Computer and information sciences        5
Mathematics and Statistics               5
Engineering                              5
Business/Business Economics              3
12                                       1
English                                  1
Cognitive Science,Psychology             1
Mathematics and Statistics,Education     1
Education                                1
Name: count, dtype: int64

In [77]:
question_answer = question_answer.rename({"Q3":"Uses AI"},axis=1)
question_answer["Uses AI"].value_counts()

Uses AI
Yes    56
No     15
Name: count, dtype: int64

In [78]:
question_answer = question_answer.join(
    question_answer["Q4"]
      .str.get_dummies(sep=",")
)

In [79]:
question_answer.rename({"Q5_1":"ChatGPT Weekly Prompts","Q5_2":"Google Gemini Weekly Prompts","Q5_3":"Claude Weekly Prompts"},axis=1)

,Q1,Q1_17_TEXT,Q2,Q2_6_TEXT,Uses AI,Q4,ChatGPT Weekly Prompts,Google Gemini Weekly Prompts,Claude Weekly Prompts,Q5_4,Q7,Q7_10_TEXT,Q8_1,Q19_1,Q11_1,Q12,Q12.1,ChatGPT,Claude (Anthropic),Google Gemini
2,12,NaN,Senior,NaN,Yes,ChatGPT,7,NaN,NaN,NaN,"Studying (Learning, exam preparation, tutoring...",NaN,5,8,383,$1 Million - $10 Million,More than 24 months,1,0,0
3,Computer and information sciences,NaN,Senior,NaN,Yes,"ChatGPT,Google Gemini,Claude (Anthropic)",10,40,20,NaN,"Studying (Learning, exam preparation, tutoring...",NaN,10,5,490,$1 Million - $10 Million,6-12 months,1,1,1
4,Biology/Chemistry/life sciences,NaN,Senior,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
5,Data Science,NaN,Junior,NaN,Yes,"ChatGPT,Google Gemini,Claude (Anthropic)",250,250,250,NaN,"Studying (Learning, exam preparation, tutoring...",NaN,10,10,1000,$10 Million - $100 Million,3-6 months,1,1,1
6,Other,Real Estate Development,Senior,NaN,Yes,ChatGPT,10,NaN,NaN,NaN,"Studying (Learning, exam preparation, tutoring...",NaN,10,10,1000,$1 Million - $10 Million,1-3 months,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Mathematics and Statistics,NaN,Junior,NaN,Yes,ChatGPT,NaN,NaN,NaN,NaN,"Studying (Learning, exam preparation, tutoring...",NaN,2,3,450,$1 Million - $10 Million,More than 24 months,1,0,0
82,Other,Environmental Systems,Sophmore,NaN,Yes,NaN,NaN,NaN,NaN,NaN,"Studying (Learning, exam preparation, tutoring...",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
83,Other,Visual arts,Junior,NaN,Yes,Google Gemini,NaN,4,NaN,NaN,Summarization / Paraphrasing (Condensing artic...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
84,Education,NaN,Senior,NaN,Yes,ChatGPT,15,NaN,NaN,NaN,"Studying (Learning, exam preparation, tutoring...",NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
85,Computer and information sciences,NaN,Junior,NaN,Yes,ChatGPT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0

In [ ]:
question_answer["Q7"] = (
    question_answer["Q7"]
      .str.replace(r"\s*\([^)]*\)", "", regex=True) 
      .str.replace(":", "", regex=False)           
      .str.strip()
)
question_answer = question_answer.join(
    question_answer["Q7"]
      .str.get_dummies(sep=",")
)

In [81]:
question_answer

,Q1,Q1_17_TEXT,Q2,Q2_6_TEXT,Uses AI,Q4,Q5_1,Q5_2,Q5_3,Q5_4,Q7,Q7_10_TEXT,Q8_1,Q19_1,Q11_1,Q12,Q12.1,ChatGPT,Claude (Anthropic),Google Gemini,Coding,Conversational,Creativity,Others You may elaborate here.,Planning / Scheduling,Problem-Solving / Arithmetic,Research,Studying,Summarization / Paraphrasing,Writing
2,12,NaN,Senior,NaN,Yes,ChatGPT,7,NaN,NaN,NaN,"Studying,Conversational,Research,Writing,Summa...",NaN,5,8,383,$1 Million - $10 Million,More than 24 months,1,0,0,0,1,1,0,0,1,1,1,1,1
3,Computer and information sciences,NaN,Senior,NaN,Yes,"ChatGPT,Google Gemini,Claude (Anthropic)",10,40,20,NaN,"Studying,Research,Coding,Problem-Solving / Ari...",NaN,10,5,490,$1 Million - $10 Million,6-12 months,1,1,1,1,0,0,0,0,1,1,1,0,0
4,Biology/Chemistry/life sciences,NaN,Senior,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0
5,Data Science,NaN,Junior,NaN,Yes,"ChatGPT,Google Gemini,Claude (Anthropic)",250,250,250,NaN,"Studying,Conversational,Research,Writing,Codin...",NaN,10,10,1000,$10 Million - $100 Million,3-6 months,1,1,1,1,1,1,0,1,1,1,1,1,1
6,Other,Real Estate Development,Senior,NaN,Yes,ChatGPT,10,NaN,NaN,NaN,"Studying,Problem-Solving / Arithmetic",NaN,10,10,1000,$1 Million - $10 Million,1-3 months,1,0,0,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Mathematics and Statistics,NaN,Junior,NaN,Yes,ChatGPT,NaN,NaN,NaN,NaN,"Studying,Research,Coding,Problem-Solving / Ari...",NaN,2,3,450,$1 Million - $10 Million,More than 24 months,1,0,0,1,0,0,0,0,1,1,1,0,0
82,Other,Environmental Systems,Sophmore,NaN,Yes,NaN,NaN,NaN,NaN,NaN,"Studying,Problem-Solving / Arithmetic",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1,0,1,0,0
83,Other,Visual arts,Junior,NaN,Yes,Google Gemini,NaN,4,NaN,NaN,"Summarization / Paraphrasing,Planning / Schedu...",NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0,0,0,0,1,0,0,0,1,0
84,Education,NaN,Senior,NaN,Yes,ChatGPT,15,NaN,NaN,NaN,"Studying,Writing,Problem-Solving / Arithmetic",NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0,1,0,1,0,1
85,Computer and information sciences,NaN,Junior,NaN,Yes,ChatGPT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0